/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }


.wrapper {
  width: 800px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cart-wrapper {
  display: flex;
  flex-direction: row;
}

.card {
  background: yellow;
}

.uniq-card {
  background: green;
}

.example-card {
  width: 300px
}